@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET PINGGIRAN PUTIH */
:root, html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #0f172a; 
}

#root {
  width: 100%;
  height: 100%;
}